
// Text Transform Utility Classes
// ----------------------------

.ttu { text-transform: uppercase !important; }
.ttl { text-transform: lowercase !important; }
.ttc { text-transform: capitalize !important; }
.ttn { text-transform: none !important; }
