
// White Space Utility Classes
// ----------------------------


.whitespace-nowrap      { white-space: nowrap !important; }
.whitespace-pre         { white-space: pre !important; }
.whitespace-prewrap     { white-space: pre-wrap !important; }
.whitespace-preline     { white-space: pre-line !important; }

.wordbreak-keep         { word-break: keep-all !important; }
.wordbreak-break        { word-break: break-all !important; }
