
// Z Index Utility Classes
// ----------------------------


.zIndex-0   { z-index: 0 !important; }
.zIndex-2   { z-index: 2 !important; }
.zIndex-3   { z-index: 1000 !important; }
.zIndex-4   { z-index: 1100 !important; }
.zIndex-5   { z-index: 1200 !important; }
.zIndex-6   { z-index: 1300 !important; }
.zIndex-7   { z-index: 1400 !important; }
.zIndex-8   { z-index: 1500 !important; }
.zIndex-9   { z-index: 1600 !important; }
.zIndex-10  { z-index: 1700 !important; }
