/*

COLOR VARIABLES


*/



:root {

/* Pure Black Transparent */
--black: rgba(0,0,0,0);
--black90: rgba(0,0,0.0.9);
--black80: rgba(0,0,0,0.8);
--black70: rgba(0,0,0,0.7);
--black60: rgba(0,0,0,0.6);
--black50: rgba(0,0,0,0.5);
--black40: rgba(0,0,0,0.4);
--black30: rgba(0,0,0,0.3);
--black20: rgba(0,0,0,0.2);
--black10: rgba(0,0,0,0.1);
--black05: rgba(0,0,0,0.05);

/* Cool Gray */
--coolgray1: rgba(252,251,250,1);
--coolgray2: rgba(248,247,246,1);
--coolgray3: rgba(245,244,243,1);
--coolgray4: rgba(240,239,238,1);
--coolgray5: rgba(230,229,228,1);
--coolgray6: rgba(220,219,218,1);
--coolgray7: rgba(200,199,198,1);
--coolgray8: rgba(180,179,178,1);
--coolgray9: rgba(160,159,158,1);
--coolgray10: rgba(140,139,138,1);
--coolgray11: rgba(120,119,118,1);


};


/* BG Colors */

.bg-coolgray1 { background-color: var(--coolgray1); }
.bg-coolgray2 { background-color: var(--coolgray2); }
.bg-coolgray3 { background-color: var(--coolgray3); }
.bg-coolgray4 { background-color: var(--coolgray4); }
.bg-coolgray5 { background-color: var(--coolgray5); }
.bg-coolgray6 { background-color: var(--coolgray6); }
.bg-coolgray7 { background-color: var(--coolgray7); }
.bg-coolgray8 { background-color: var(--coolgray8); }
.bg-coolgray9 { background-color: var(--coolgray9); }
.bg-coolgray10 { background-color: var(--coolgray10); }

.black { color: var(--black); }
.black90 { color: var(--black90); }
.black80 { color: var(--black80); }
.black70 { color: var(--black70); }
.black60 { color: var(--black60); }
.black50 { color: var(--black50); }
.black40 { color: var(--black40); }
.black30 { color: var(--black30); }
.black20 { color: var(--black20); }
.black10 { color: var(--black10); }
