/*

MARGINS


base:
 m = margin

direction:
  t = top
  b = bottom
  l = left
  r = right
  x = left / right
  y = top / bottom
  a = all

degree:
  0 = none
  1 = first step
  2 = second step
  3 = third step
  4 = fourth step
  5 = fifth step
  6 = sixth step

breakpoints:
  sm = breakpoint-sm
  md = breakpoint-md
  lg = breakpoint-lg

*/

:root {
  --spacing-none: 0;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2em;
  --spacing-xlg: 3rem;
  --spacing-xxlg: 6rem;
  --spacing-xxxlg: 10rem;
  
}



@mixin prefixes {
&ml-auto { margin-left: auto; }
&mr-auto { margin-right: auto; }
&mx-auto {margin-left: auto;
          margin-right: auto;   }
&mt0 { margin-top: var(--spacing-none); }
&mt1 { margin-top: var(--spacing-xs); }
&mt2 { margin-top: var(--spacing-sm); }
&mt3 { margin-top: var(--spacing-md); }
&mt4 { margin-top: var(--spacing-lg); }
&mt5 { margin-top: var(--spacing-xlg); }
&mt6 { margin-top: var(--spacing-xxlg); }
&mt7 { margin-top: var(--spacing-xxxlg); }

&mb0 { margin-bottom: var(--spacing-none); }
&mb1 { margin-bottom: var(--spacing-xs); }
&mb2 { margin-bottom: var(--spacing-sm); }
&mb3 { margin-bottom: var(--spacing-md); }
&mb4 { margin-bottom: var(--spacing-lg); }
&mb5 { margin-bottom: var(--spacing-xlg); }
&mb6 { margin-bottom: var(--spacing-xxlg); }
&mb7 { margin-bottom: var(--spacing-xxxlg); }

&ml0 { margin-left: var(--spacing-none); }
&ml1 { margin-left: var(--spacing-xs); }
&ml2 { margin-left: var(--spacing-sm); }
&ml3 { margin-left: var(--spacing-md); }
&ml4 { margin-left: var(--spacing-lg); }
&ml5 { margin-left: var(--spacing-xlg); }
&ml6 { margin-left: var(--spacing-xxlg); }
&ml7 { margin-left: var(--spacing-xxxlg); }

&mr0 { margin-right: var(--spacing-none); }
&mr1 { margin-right: var(--spacing-xs); }
&mr2 { margin-right: var(--spacing-sm); }
&mr3 { margin-right: var(--spacing-md); }
&mr4 { margin-right: var(--spacing-lg); }
&mr5 { margin-right: var(--spacing-xlg); }
&mr6 { margin-right: var(--spacing-xxlg); }
&mr7 { margin-right: var(--spacing-xxxlg); }
&mx0 {  margin-left: var(--spacing-none);
        margin-right: var(--spacing-none); }
&mx1 {  margin-left: var(--spacing-xs);
        margin-right: var(--spacing-xs); }
&mx2 {  margin-left: var(--spacing-sm);
        margin-right: var(--spacing-sm); }
&mx3 {  margin-left: var(--spacing-md);
        margin-right: var(--spacing-md); }
&mx4 {  margin-left: var(--spacing-lg);
        margin-right: var(--spacing-lg); }
&mx5 {  margin-left: var(--spacing-xlg);
        margin-right: var(--spacing-xlg); }
&mx6 {  margin-left: var(--spacing-xxlg);
        margin-right: var(--spacing-xxlg);}
&mx7 {  margin-left: var(--spacing-xxxlg);
        margin-right: var(--spacing-xxxlg); }

&my0 {  margin-top: var(--spacing-none);
        margin-bottom: var(--spacing-none); }
&my1 {  margin-top: var(--spacing-xs);
        margin-bottom: var(--spacing-xs); }
&my2 {  margin-top: var(--spacing-sm);
        margin-bottom: var(--spacing-sm); }
&my3 {  margin-top: var(--spacing-md);
        margin-bottom: var(--spacing-md); }
&my4 {  margin-top: var(--spacing-lg);
        margin-bottom: var(--spacing-lg); }
&my5 {  margin-top: var(--spacing-xlg);
        margin-bottom: var(--spacing-xlg); }
&my6 {  margin-top: var(--spacing-xxlg);
        margin-bottom: var(--spacing-xxlg);}
&my7 {  margin-top: var(--spacing-xxxlg);
        margin-bottom: var(--spacing-xxxlg); }
&ma0 {  margin-top: var(--spacing-none);
        margin-bottom: var(--spacing-none); }

&ma0 { margin: var(--spacing-none); }
&ma1 { margin: var(--spacing-xs); }
&ma2 { margin: var(--spacing-sm); }
&ma3 { margin: var(--spacing-md); }
&ma4 { margin: var(--spacing-lg); }
&ma5 { margin: var(--spacing-xlg); }
&ma6 { margin: var(--spacing-xxlg); }
&ma7 { margin: var(--spacing-xxxlg); }
}
